<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- Link Dom -->
  <script src="/dom/nav-collapse.js" defer></script>
  <!-- GENERAL STYLE FOR ALL PAGES -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- STYLE FOR ALL SCAN PAGE -->
  <link rel="stylesheet" href="/css/dish-list.css" />
  <!-- nav-collapse -->
  <link rel="stylesheet" href="/css/nav-collapse.css" />
  <title>Dishes To Try</title>
</head>

<body>
  <header class="header">
    <a href="#" class="logo-text">
      FOOD<span class="logo-span">SCAN</span>
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#">Home</a></li>
        <li><a class="main-nav-link" href="#">Contact</a></li>
        <li><a class="main-nav-link active" href="#">Scan</a></li>
        <div class="user user-mobile">
          <li><a class="main-nav-link" href="#"><i class='bx bx-user'></i></a></li>
          <li><a class="main-nav-link" href="#">User</a></li>
        </div>
      </ul>
    </nav>
    <div class="user user-desktop">
      <li><a class="main-nav-link" href="#"><i class='bx bx-user'></i></a></li>
      <li><a class="main-nav-link" href="#">User</a></li>
    </div>
    <button class="btn-mobile-nav">
      <i class="bx bx-menu-alt-left icon-mobile-nav" id="bx-menu-alt-left"></i>
      <i class="bx bx-x icon-mobile-nav" id="bx-x"></i>
    </button>
  </header>
  <main>
    <div class="dish container">
      <h3 class="dish-tertiary-heading">Select One Dish You'd Like To Try</h3>
      <div class="dish-wrapper">
        <div class="meal meal-1">
          <img class="dish img-meal img-meal-1" src="/images/meal-1.jpeg" alt="">
          <p>Harrisa Roasted Carrots </p>
        </div>
        <div class="meal meal-2">
          <img class="dish img-meal img-meal-2" src="/images/meal-2.jpeg" alt="">
          <p>Harrisa Roasted Carrots </p>
        </div>
        <div class="meal meal-3">
          <img class="dish img-meal img-meal-3" src="/images/meal-3.jpeg" alt="">
          <p>Harrisa Roasted Carrots </p>
        </div>
        <div class="meal meal-4">
          <img class="dish img-meal img-meal-4" src="/images/meal-4.jpeg" alt="">
          <p>Harrisa Roasted Carrots </p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>