<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Link icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- Link Dom -->
  <script src="/dom/scan.js" defer></script>
  <!-- GENERAL STYLE FOR ALL PAGES -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- STYLE FOR ALL SCAN PAGE -->
  <link rel="stylesheet" href="/css/scan.css" />
  <title>Scan Dish</title>
</head>
<style>
.image {
  display: none;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}
#imageUpload{
  display: block;
  margin: 0 auto;
}
</style>

<body>
  <header class="header">
    <a href="#" class="logo-text">
      FOOD<span class="logo-span">SCAN</span>
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#">Home</a></li>
        <li><a class="main-nav-link" href="#">Contact</a></li>
        <li><a class="main-nav-link active" href="#">Scan</a></li>
        <div class="user user-mobile">
          <li><a class="main-nav-link" href="#"><i class='bx bx-user'></i></a></li>
          <li><a class="main-nav-link" href="#">User</a></li>
        </div>
      </ul>
    </nav>
    <div class="user user-desktop">
      <li><a class="main-nav-link" href="#"><i class='bx bx-user'></i></a></li>
      <li><a class="main-nav-link" href="#">User</a></li>
    </div>
    <button class="btn-mobile-nav">
      <i class="bx bx-menu-alt-left icon-mobile-nav" id="bx-menu-alt-left"></i>
      <i class="bx bx-x icon-mobile-nav" id="bx-x"></i>
    </button>
  </header>
  <main>
    <div class="scan container">
      <h3 class="scan-secondary-heading show_dish">Show us your dish</h3>
      <!-- ********************** webcam for the model **************************** -->
      {{!-- <div id="webcam-container"></div> --}}
      <img id="imagePreview" class="image" />
	  <input id="imageUpload" type="file" />
      <div id="label-container"></div>
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
      <script type="text/javascript">
        // More API functions here:
        // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image

        // the link to your model provided by Teachable Machine export panel
        const URL = "https://teachablemachine.withgoogle.com/models/mHd7RAwPO/";

      
			let model, labelContainer, maxPredictions;

			// Load the image model 
			async function init() {
				const modelURL = URL + 'model.json';
				const metadataURL = URL + 'metadata.json';

				// load the model and metadata
				model = await tmImage.load(modelURL, metadataURL);
				maxPredictions = model.getTotalClasses();

				labelContainer = document.getElementById('label-container');
				for (let i = 0; i < maxPredictions; i++) {
					// and class labels
					labelContainer.appendChild(document.createElement('div'));
				}
			}
            async function predict() {
            scannedProbability = 0.99
				// predict can take in an image, video or canvas html element
				var image = document.getElementById('imagePreview');
				const prediction = await model.predict(image, false);
				for (let i = 0; i < maxPredictions; i++) {
					const classPrediction =
						prediction[i].className + ': ' + prediction[i].probability.toFixed(2);
					labelContainer.childNodes[i].innerHTML = classPrediction;
               if(prediction[i].probability >= scannedProbability){
                document.getElementById("imageUpload").style.display = 'none';
                document.getElementById("label-container").style.display = 'none';
                document.getElementById("button").style.display = 'none';
                document.querySelector('.scan.igredient-text').innerHTML = "Harissa roasted carrots, Well done you've earned 48 points!";
                document.querySelector('.anchor').innerHTML = 'see how you rank against your friends';
                document.querySelector('.show_dish').innerHTML = '';
                document.querySelector(".image").style.display = 'block';
            }  
				}
			}
        // run the webcam image through the image model
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript">
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$('#imagePreview').attr('src', e.target.result);
						// $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
						$('#imagePreview').hide();
						$('#imagePreview').fadeIn(650);
					};
					reader.readAsDataURL(input.files[0]);
					init().then(() => {
						predict();
					});
				}
			}
			$('#imageUpload').change(function () {
				readURL(this);
			});
		</script>
      <!-- ********************** webcam for the model **************************** -->
      <!-- <button class="scan start-btn">Start</button> -->
      <div class="start-btn-wrapper"><button class="scan start-btn" id="button" type="button" onclick="init()">Start</button></div>
      {{!-- to add the image that would be scanned --}}
      <img src="/images/harissa-roasted-carrots 1.png" class="image">
      <div class="scan text-link-wrapper">
        <p class="scan igredient-text"></p>
        <a class="scan anchor" href="/leaderboard"></a>
      </div>
    </div>
  </main>
</body>
</html>

