<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://kit.fontawesome.com/637f4ab425.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- GENERAL STYLE FOR ALL PAGES -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- STYLE FOR ALL HOME PAGE -->
  <link rel="stylesheet" href="/css/home.css" />

</head>

<body class="home-body">
  <header class="p-0 m-0 container-fluid fixed-top">
    <nav class="navbar  fixed-top  navbar-expand-sm p-0 justify-content-space-between ">
      <div class="container-fluid">
        <div class=" navbar-text  ms-2 navbar-brand h1">FOOD<span>SCAN</span></div>

        <div class=" justify-content-end" id="navNavbar">

          <ul class="navbar-nav ">
            <li class="nav-item mx-3 ">
              <a class="nav-link  logoutElem" href="/login" onclick="closeNavbar()">
                <i class="bi bi-person-circle">{{currentUser}}</i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </header>
  <main class="main mt-5 container-fluid">
    <div class="home-main mx-2">
      <h1>LET’S GET STARTED COOKING AMAZING SECRET DISHES</h1>
      <img class="my-2" src="/images/delicious-food-1e06c0194f14f38396eb4ab1e3094aeb 1.png" alt="">
      <p>Take a picture of your food, item we’ll tell you what it is, then begin your amazing cooking challenge</p>
      <button class="home-button"><a href="scan">GET STARTED</a></button>
    </div>
    <img class="my-2 largeIMG" src="/images/delicious-food-1e06c0194f14f38396eb4ab1e3094aeb 1.png" alt="">
  </main>
  <div class="friendsparagraph text-center">
    <h2>Compete with friends to earn points and claim your bragging rights 🔥</h2>
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  function closeNavbar() {
    var navNavbar = document.getElementById('navNavbar');
    var bootstrapButton = document.querySelector('.navbar-toggler');
    if (navNavbar.classList.contains('show')) {
      bootstrapButton.click(); // Click the button to close the Navbar
    }
  }
  function closeSearchbar() {
    var navNavbar = document.getElementById('mynavbar');
    var bootstrapButton = document.querySelector('.search-toggler');
    if (navNavbar.classList.contains('show')) {
      bootstrapButton.click(); // Click the button to close the search
    }
  }
</script>

</html>

</html>