<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/recipe.css">
    <link href='https://fonts.googleapis.com/css?family=PT Serif Caption' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Cooking || Recipes</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="#" class="logo">
                <p>FOOD <span>SCAN</span></p>
            </a>
            <div class="links">
                <a href="#">Home</a>
                <a href="#">Contact</a>
                <a href="#">Scan</a>
            </div>
            <div class="user">
                <img src="/images/ph_user.png" alt="user">
                <p>User</p>
            </div>
        </nav>

        <div class="main-section">
            <div class="left-screen">
                <div class="top">
                    <h1>Harrisa Roasted Carrots</h1>
                    <div class="cook-times">
                        <img src="/images/Vector.png" alt="clock">
                        <div class="cook-time">
                            <p>15mins</p>
                            <p class="des">PREP</p>
                        </div>
                        <div class="cook-time">
                            <p>60min</p>
                            <p class="des">COOK</p>
                        </div>
                        <div class="cook-time">
                            <p>1h 15mins</p>
                            <p class="des">TOTAL</p>
                        </div>
                    </div>
                    <p class="dish-des">These spicy carrots are a delicious, flavor-packed side dish to serve for dinner. The rainbow
                        carrots are tossed in a homemade harissa marinade and baked until they’re crispy and tender.</p>
                </div>

                <div class="bottom">
                    <h5>Instructions</h5>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        es</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        ma</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        ma</p>
                </div>
            </div>

            <div class="right-screen">
                <div class="top">
                    <img src="/images/harissa-roasted-carrots 1.png" alt="">
                </div>

                <div class="bottom">
                    <h5>Ingredients</h5>
                    <ul>
                        <li><span>150g</span> Lorem ipsum dolor sit, amet consectetur</li>
                        <li><span>150g</span> Lorem ipsum dolor sit, amet consectetur</li>
                        <li><span>150g</span> Lorem ipsum dolor sit, amet consectetur</li>
                        <li><span>150g</span> Lorem ipsum dolor sit, amet consectetur</li>
                        <li><span>150g</span> Lorem ipsum dolor sit, amet consectetur</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>