<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login-signup.css">
    <title>Cook || Login</title>
</head>
<body>
    <div class="container">
        <div class="left">

        </div>
        <div class="right">
            <div class="titles">
                <p>Welcome to food scan</p>
                <h3>Login</h3>
            </div>
            <form id="signupForm" action="#" method="post">
                <div class="form-grp">
                    <div class="input">
                        <label for="username">Username</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="input">
                        <label for="email">Email</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="input">
                        <label for="password">Password</label>
                        <input type="password" name="password" required>            
                    </div>
                </div>
                <div class="links">
                    <button type="submit">Sign Up</button>
                    <a href="/login">Not registered? Sign in</a>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const signupForm = document.getElementById('signupForm');

            signupForm.addEventListener('submit', async function (event) {
            event.preventDefault();

            const username = document.querySelector('[name="username"]').value;
            const email = document.querySelector('[name="email"]').value;
            const password = document.querySelector('[name="password"]').value;

            try {
                const response = await fetch('https://recipes-api-8b36.onrender.com/api/signUp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: username,
                    email: email,
                    password: password,
                }),
                });

                const data = await response.json();

                if (data.status === 'success') {
                    alert('User registered successfully');
                } else {
                    alert('Error registering user: ' + data.error);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An unexpected error occurred');
            }
            });
        });
    </script>

</body>
</html>