.dish.container{
  padding-inline:18px;
}
.dish-tertiary-heading{
  margin-block-end:15px;
  font-size:1.2rem;
  font-weight:300;
  text-transform: uppercase;  
}
.dish.img-meal{
  height:130px;
  width:130px;
  object-fit: cover;
}
.dish-wrapper{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, auto));
  place-items: center;
}
.dish p, .dish-tertiary-heading{
  text-align: center;
}
.score-span{
  font-weight: 700;
  color: var(--main-color);
}
.dish.a{
  text-align: center;
  display:block;
  margin-block-end:15px;
}
@media(min-width:768px){
  .dish.container{
    max-width: 1200px;
    margin:0 auto;
  }
  .dish-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  }
  .meal{
    margin-block-end:15px;
  }
}