body,html{
  overflow-x: hidden;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 1.6rem;
  padding: 1.8rem;
  position: relative;
}
/* navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--main-color);
}
/* ----------------- navigation ----------------- */
/* ----------------- MOBILE FIRST  ----------------- */
.logo-text {
  color: #000;
  font-size: 1.2rem;
}
.logo-span {
  color: var(--main-color);
}
a:link.scan {
  color: var(--main-color);
}
/* hide close icon */
#bx-x {
  display: none;
}
.btn-mobile-nav {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 100;
}
/* icon size */
.bx {
  font-size: 2.1rem;
}
.main-nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  /* Hide navigation */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}
.nav-open #bx-x {
  display: block;
}
.nav-open .bx-menu-alt-left {
  display: none;
}
.main-nav-list {
  flex-direction: column;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  font-size: 3rem;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
}
.btn-mobile-nav.bx {
  font-size: 2rem;
}
.user{
  display:flex;
  gap:12px;
}
.user-desktop{
  display:none;
}
@media(min-width:768px){
  .header{
    margin-bottom: 15px;
    padding-inline:20px;
  }
  .user-mobile{
    display:none;
  }
  .user-desktop{
    display:flex;
  }
  .btn-mobile-nav{
    display:none;
  } 
  .main-nav{
    background-color: revert;
    height: revert;
    position: revert;
    width: revert;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.3rem;
  }
  .main-nav-list{
    flex-direction: revert;
    gap:1.2rem;
    
  }
}
